body{
    background-color: #4c1067;
    padding: 2% 2% 0% 0%;
    justify-items: center;
}

.main-container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
h1{
    font-family: Tahoma, sans-serif;
    text-shadow: aqua 1px 2px;
}
#addTask{
    color: white;
    background-color: #4c1067;
    border-radius: 6px;
    width: 140px;
    height: 50px;
    margin-top: 50%;
    font-size: 120%;
}
.status-containers{
    border-top: #4c1067 solid;
    margin-top: 5%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 5%;   
}

.title1{
    display: flex;
    font-size: 100%;
    font-weight: 600;
    border-bottom: #4c1067 solid;
}
.title2{
    display: flex;
    font-size: 100%;
    font-weight: 600;
    border-bottom: yellow solid;
}
.title3{
    display: flex;
    font-size: 100%;
    font-weight: 600;
    border-bottom: green solid;
}

.title1 p, .title2 p, .title3 p{
    font-size: 110%;
    margin-left: 10%;
    margin-top: 12%;
}
.container li{
    border: #4c1067 solid;
    border-left: solid 5px #4c1067;
    border-radius: 5px;
    width: 110%;
    padding: 5%;
    text-align: left;
    font-size: 120%;
    font-weight: 500;
    list-style: none;
    margin-left: -30%;
    margin-bottom: 5%;
}

.add-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    border: #4c1067 solid 2px;
    background-color: #f3ebf7;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: -50%;
    width: 200%;
    height: 30px;
}
#addButton{
    border: #4c1067 solid 2px;
    background-color: #cbaed7;
    border-radius: 5px;
    margin-left: -50%;
}

.hidden {
    display: none;
}

.popUpBox {
    width: 240%;
    margin-top: 10%;
    display: block;
    border: #906e9f solid;
    border-radius: 5px;
}


.container li button{
    border: #4c1067 solid 2px;
    background-color: #cbaed7;
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 25px;
    align-items: center;

}

#inprogress-container li{
    border: yellow solid;
    border-left: solid 5px yellow;
}
#inprogress-container li button{
    border: rgb(136, 136, 11) solid 2px;
    background-color: rgb(232, 232, 124);
}
#Done-container li{
    border: green solid;
    border-left: solid 5px green;
}
#Done-container li button{
    border: green solid 2px;
    background-color: rgb(100, 208, 100);
}


/* Grand Écran d'Ordinateur: À partir de 1280px */
@media (min-width: 1280px) {

    h1{
        font-size: 300%;
    }
    #addTask{
        width: 170px;
        font-size: 150%;
    }

    
    .container{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 5%;   
    }
    
    .title1{
        font-size: 120%;
    }
    .title2{
        font-size: 120%;
    }
    .title3{
        font-size: 120%;
    }
    
    .title1 p, .title2 p, .title3 p{
        font-size: 120%;
        margin-left: 10%;
        margin-top: 6%;
    }
    .container li{
        width: 100%;
        font-size: 140%;
        font-weight: 500;
        margin-left: -12%;
    }
    

    
    .input{
        margin-left: -100%;
        width: 300%;
        height: 40px;
    }
    #addButton{
        margin-left: -100%;
        width: 100px;
        height: 40px;
        font-size: 160%;
    }
    
    .container li button{
        width: 90px;
        height: 25px;
        align-items: center;
    }
    
}

/* Petit Écran d'Ordinateur: De 1024px à 1280px */
@media (min-width: 1024px) and (max-width: 1280px) {
    h1{
        font-size: 300%;
    }
    #addTask{
        width: 170px;
        font-size: 150%;
    }

    
    .container{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 5%;   
    }
    
    .title1{
        font-size: 120%;
    }
    .title2{
        font-size: 120%;
    }
    .title3{
        font-size: 120%;
    }
    
    .title1 p, .title2 p, .title3 p{
        font-size: 120%;
        margin-left: 10%;
        margin-top: 8%;
    }
    .container li{
        width: 100%;
        font-size: 140%;
        font-weight: 500;
        margin-left: -15%;
    }
  
    .input{
        margin-left: -100%;
        width: 300%;
        height: 40px;
    }
    #addButton{
        margin-left: -100%;
        width: 100px;
        height: 40px;
        font-size: 160%;
    }
    
    .container li button{
        width: 85px;
        height: 25px;
        align-items: center;
    }
}

/* Tablette: De 768px à 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        font-size: 300%;
    }
    #addTask{
        width: 170px;
        font-size: 150%;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 5%;   
    }
    
    .title1{
        font-size: 120%;
    }
    .title2{
        font-size: 120%;
    }
    .title3{
        font-size: 120%;
    }
    
    .title1 p, .title2 p, .title3 p{
        font-size: 120%;
        margin-left: 10%;
        margin-top: 12%;
    }
    .container li{
        width: 100%;
        font-size: 130%;
        font-weight: 500;
        margin-left: -25%;
    }
  
    .input{
        margin-left: -50%;
        width: 200%;
        height: 40px;
    }
    #addButton{
        margin-left: -50%;
        width: 100px;
        height: 40px;
        font-size: 160%;
    }
    
    .container li button{
        width: 85px;
        height: 25px;
        align-items: center;
    }
}

/* Mobile: Jusqu'à 767px */
@media (max-width: 767px) {
    h1{
        font-size: 250%;
    }
    #addTask{
        width: 170px;
        font-size: 150%;
    }

    
    .container{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-right: 5%;   
    }
    
    .title1{
        font-size: 120%;
    }
    .title2{
        font-size: 120%;
    }
    .title3{
        font-size: 120%;
    }
    
    .title1 p, .title2 p, .title3 p{
        font-size: 120%;
        margin-left: 10%;
        margin-top: 6%;
    }
    .container li{
        width: 100%;
        font-size: 140%;
        font-weight: 500;
        margin-left: -12%;
    }
   
    .input{
        margin-left: -50%;
        width: 200%;
        height: 40px;
    }
    #addButton{
        margin-left: -50%;
        width: 100px;
        height: 40px;
        font-size: 160%;
    }
    
    .container li button{
        width: 90px;
        height: 25px;
        align-items: center;
    }

    .status-containers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}